<app-slider></app-slider>
<div class="description">
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <span>This blog resembles the pages of a glossy food magazine with a fleet of stylists making sure every bite looks impossibly scrumptious. But behind the scenes, 
                there’s just one incredible couple, Amy and Dylan Jameson. The division of labor is simple: </span>
          </div>
          <div class="col-sm">
            <span>She cooks and blogs; he photographs. The result elevates whole-food ingredients to epic proportions. Sandwiches, noodles, green salads, and other divine 
                dishes have earned the attention of many in the food world, including magazine, which named Good Food.</span>
      
          </div>
          <div class="col-sm">
            <span>One of the best original recipe blogs. The blog below contain out-of-this-world recipes, insightful posts on diet trends, and realistic tips to help you eat smarter—whether you’re Paleo, 
                vegetarian, gluten-free, or just happen to love food. </span>
          </div>
        </div>
      </div>
</div>
